/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2014, 6:03:50 PM
    Author     : Muhammad.Hakeem
*/



table.dataTable tbody td {
	padding: 8px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

table.dataTable tbody th {
	white-space: normal;
	overflow: visible;
}

col:first-child {
	width: 50px;
}

col.date-created {
	width: 100px;
}

col.compaign-name {
	width: 100px;
}

col.source {
	width: 100px;
}

col.medium {
	width: 100px;
}

col.compaign-content {
	width: 100px;
}

col.url {
	width: 100px;
}

col.long-url {
	width: 100px;
}

col.short-url {
	width: 100px;
}

col.partner {
	width: 100px;
}

col.channel {
	width: 100px;
}

col:nth-child(13) {
	width: 100px;
}

col.message-subject-line {
	width: 100px;
}

col.notes {
	width: 100px;
}
div.test
{
    white-space:nowrap;
    //width:12em;
    max-width:12em;
    overflow:hidden;
     
}


